@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'TikTok Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
