:root {
  --color-text: #000;
  --color-text-button: #57c4dc;
  --color-bg: #fff;
  --color-bg-button: #16444f;
  --color-bg-card: #ebedf0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-text-button: #fff;
    --color-bg: #23272f;
    --color-bg-button: #383b3f;
    --color-bg-card: #343a46;
  }
}
